<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll"  ng-click="scroll('#pagetop')" href="#">
        <i class="fa fa-play-circle"></i>
        <span>HOME</span>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"><a></a></li>
        <li><a class="page-scroll" ng-click="scroll('#about')" href="#">About</a></li>
        <li><a class="page-scroll" ng-click="scroll('#learn')" href="#">Learn</a></li>
        <li><a class="page-scroll" ng-click="scroll('#education')" href="#">Education</a></li>
        <li><a class="page-scroll" ng-click="scroll('#experience')" href="#">Experience</a></li>
        <li><a class="page-scroll" ng-click="scroll('#projects')" href="#">Projects</a></li>
        <li><a class="page-scroll" ng-click="scroll('#contact')" href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
      $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
      $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
  });

  $('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
  });
</script>

<header id="pagetop" class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">{{ profile.name.first }} {{ profile.name.last }}</h1>
          <p class="intro-text"> {{ profile.desc.first }}<br>{{ profile.desc.second}}</p>
          <a class="btn btn-circle page-scroll pulse" ng-click="scroll('#about')">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Grayscale</h2>
      <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
      <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
      <p>et. Duis a arcu consequat metus dictum sagittis. Integer id mattis ligula. Nunc nec ullamcorper ipsum, a
        malesuada urna. <a href="http://gratisography.com/">Aliquam scelerisque </a> urna ante, ac cursus arcu
        ut interdum nisl magna molestie sapien. Praesent ut erat quis lectus tincidunt viverra sed et ipsum.</p>
    </div>
  </div>
</section>

<section id="learn" class="content-section">
  <div class="content-section learn-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Things I'd like to learn about</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="progress" ng-repeat="topic in profile.learn.languages"><div class="progress-bar prog-{{topic[1]}}">{{ topic[0] }}</div></div>
          </div>
          <div class="col-md-3">
            <div class="progress" ng-repeat="topic in profile.learn.frameworks"><div class="progress-bar prog-{{topic[1]}}">{{ topic[0] }}</div></div>
          </div>
          <div class="col-md-3">
            <div class="progress" ng-repeat="topic in profile.learn.tools"><div class="progress-bar prog-{{topic[1]}}">{{ topic[0] }}</div></div>
          </div>
          <div class="col-md-3">
            <div class="progress" ng-repeat="topic in profile.learn.setups"><div class="progress-bar prog-{{topic[1]}}">{{ topic[0] }}</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="">
  <div class="content-section experience-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Experience</h2>


        <div class="container">
          <ul class="timeline">

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-spin fa-circle-o-notch"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jawbone</h4>
                  <div class="timeline-location">San Fransisco, CA</div>
                  <div class="timeline-dates">XXXX - XXXX</div>
                  <div class="timeline-course">Programmer</div>
                  <div class="timeline-body">Wthing I worked on</div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-comment-o"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Hearsay Social</h4>
                  <div class="timeline-location">San Fransisco, CA</div>
                  <div class="timeline-dates">XXXX - XXXX</div>
                  <div class="timeline-course">Programmer</div>
                  <div class="timeline-body">Wthing I worked on</div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-windows"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Microsoft Inc</h4>
                  <div class="timeline-location">Seattle, WA</div>
                  <div class="timeline-dates">XXXX - XXXX</div>
                  <div class="timeline-course">Programmer</div>
                  <div class="timeline-body">Wthing I worked on</div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-code"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Internships</h4>
                  <div class="timeline-location">Seattle, WA</div>
                  <div class="timeline-dates">XXXX - XXXX</div>
                  <div class="timeline-course">Programmer</div>
                  <div class="timeline-body">
                    Microsoft Corporation: Windows Live Mesh - May 2009 – Aug 2009
                    Created an assembly that provisioned a delegated authentication token management service
                    ------------
                    Amazon.com Inc: Personalization - Aug 2007 - Dec 2007
                    Worked on a ranking mechanism to generate a tag set which describe the list recommended items
                    ------------
                    Sun Microsystems: Complex Systems Group - Jan 2006 - Apr 2006
                    Participated in the design and development of a simulation infrastructure for the behavioral analysis of wireless sensor networks
                    ------------
                    Amazon.com Inc: Digital Media Technologies - May 2005 - Aug 2005
                    Worked on the variety of upgrades to the digital media pipeline (mainly the first internal REST client to the S3 service)
                    ------------
                    Epson Canada: Barcode Recognition - Jan 2004 - Apr 2004
                    Developed a universal 2D barcode decoding application for hand-held image-scanners
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="education" class="">
  <div class="content-section education-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Education</h2>

        <div class="container">
          <ul class="timeline">

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">University of Southern California</h4>
                  <div class="timeline-location">Los Angeles, CA</div>
                  <div class="timeline-dates">2008 - 2009</div>
                  <div class="timeline-course">Masters in Computer Science</div>
                  <div class="timeline-body">Specialization in Human Language technology (Applied Artificial Intelligence)</div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">University of Waterloo</h4>
                  <div class="timeline-location">Ontario, Canada</div>
                  <div class="timeline-dates">2003 - 2008</div>
                  <div class="timeline-course">Bachelor in Applied Science – Computer Engineering (Honors)</div>
                  <div class="timeline-body">Option in Software Engineering</div>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="projects" class="">
  <div class="content-section projects-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Projects</h2>

        <div class="container">
          <ul class="timeline">

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-wrench"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title"><a href="">color.js</a></h4>
                  <div class="timeline-body"></div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-wrench"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">EZ Apps - iOS apps</h4>
                  <div class="timeline-body"></div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-wrench"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Structure extractor - Craigslist</h4>
                  <div class="timeline-body"></div>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="fa fa-wrench"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Transliteration - En to Hi</h4>
                  <div class="timeline-body"></div>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact</h2>
      <ul class="list-inline banner-social-buttons">
        <li ng-if="profile.social.twitter"><a href="https://twitter.com/{{profile.social.twitter}}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></li>
        <li ng-if="profile.social.github"><a href="https://github.com/{{profile.social.github}}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
        <li ng-if="profile.social.linkedin"><a href="https://www.linkedin.com/in/{{profile.social.linkedin}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a></li>
        <li ng-if="profile.social.facebook"><a href="https://www.facebook.com/{{profile.social.facebook}}" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a></li>
      </ul>
    </div>
  </div>
</section>

<footer>
  <div class="container text-center">
    <p>Copyright &copy; {{profile.name.first }} {{ profile.name.last }} - {{profile.dates.current.getFullYear() }}</p>
  </div>
</footer>
